body {
  background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border: solid rgb(53, 85, 142) 10px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.checker {
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.textbox {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

.check-palindrome {
  width: 25%;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.hidden {
  display: none;
}